resume = true
params.cpus = 16
params.resultDir = "./results/DESeq2/"
params.sample_sheet = "./results/DESeq2/meta_data_rnaseq.csv"
params.raw_counts = "./results/DESeq2/rnaseq_counts.tsv"
params.organism = "human"
params.remove_batch_effect = true
params.batch_col =  "batch"
params.nfcore = false
params.covariate_formula = '+ sex + age_scaled'
params.contrasts = [["CONDCOL": "group_tissue", "TEST": "CD_inflamed_colon", "REF": "nonIBD_colon"],
                    ["CONDCOL": "group_tissue", "TEST": "CD_inflamed_ileum", "REF": "nonIBD_ileum"],
                    ["CONDCOL": "group_tissue", "TEST": "UC_inflamed_colon", "REF": "nonIBD_colon"]]
        
        
process {
    withName: de_analysis {
        memory = 32.GB
    }
}